<div class="container">
  <h2>Stupid coaching</h2>
  <div class="question">
    <p>You: <%= @question %></p>
  </div>
  <div class="answer">
    <p>Stupid coach: <%= @answer %></p>
  </div>
  <%= link_to '-> Ask another question <-', ask_path %>
</div>
