<div class="container-ask">
  <h1>Stupid Coaching</h1>
  <h4>Ask your coach anything:</h2>

  <form action="/answer" method="get">
    <input type="text" name="question" placeholder="Ask me anything...">
    <input type="submit" value="Ask!" class="btn btn-primary">
  </form>
</div>
